{% extends "layout.html" %}

{% block content %}
<!-- ##### Welcome Area Start ##### -->
<div class="breadcumb-area clearfix">
 <!-- breadcumb content -->
 <div class="breadcumb-content">
  <div class="container h-100">
   <div class="row h-100 align-items-center">
    <div class="col-12">
     <nav aria-label="breadcrumb" class="breadcumb--con text-center">
      <h2 class="title wow fadeInUp" data-wow-delay="0.2s">
       Wallet Connect
      </h2>
      <ol class="breadcrumb justify-content-center wow fadeInUp" data-wow-delay="0.4s">
       <li class="breadcrumb-item">
        <a href="#">
         Home
        </a>
       </li>
       <li aria-current="page" class="breadcrumb-item active">
        Wallet Connect
       </li>
      </ol>
     </nav>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- ##### Welcome Area End ##### -->
<section class="features section-padding-100">
 <div class="container">
  <div class="section-heading text-center">
   <h2 class="fadeInUp" data-wow-delay="0.3s">
    Connect Wallet
   </h2>
   <div class="row align-items-center">
    <div class="service-img-wrapper col-lg-5 col-md-12 col-sm-12 no-padding-right">
     <div class="features-list">
      <div class="who-we-contant text-center">
       <img alt="" class="mb-15" src="{{url_for('static', filename='img/icons/wallet.png')}}" width="90"/>
       <h4 class="w-text mb-30" data-wow-delay="0.3s">
        Connect Your Wallet to Start collecting, Buying and Selling NFTs.
       </h4>
       <div class="pricing-item v2" onclick="connect();">
        <img alt="" class="wal-icon" src="{{url_for('static', filename='img/icons/w1.png')}}" width="30"/>
        connect with MetaMask
       </div>
       <div class="pricing-item v2">
        <img alt="" class="wal-icon" src="{{url_for('static', filename='img/icons/w2.png')}}" width="30"/>
        connect with WalletConnect
       </div>
      </div>
     </div>
    </div>
    <div class="service-img-wrapper col-lg-7 col-md-12 col-sm-12 mt-s">
     <div class="image-box">
      <img alt="" class="center-block img-responsive phone-img" src="{{url_for('static', filename='img/core-img/platform.png')}}"/>
      <img alt="" class="center-block img-responsive rings" src="{{url_for('static', filename='img/core-img/rings.png')}}"/>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- ethers js -->
<script src="{{url_for('static', filename='js/connect-wallet/ethers-v4.min.js')}}">
</script>
<!-- metamask js -->
<script src="{{url_for('static', filename='js/connect-wallet/metamask.js')}}">
</script>
{% endblock content %}
