{% extends "layout.html" %}
{% block content %}
  <!-- ##### Welcome Area Start ##### -->
    <section class="hero-section moving section-padding" id="home">
        <div class="moving-bg"></div>
        <!-- Hero Content -->
        <div class="hero-section-content">

            <div class="container ">
                <div class="row align-items-center">
                    <!-- Welcome Content -->
                    <div class="col-12 col-lg-6 col-md-12">
                        <div class="welcome-content">
                            <div class="promo-section">
                                <h3 class="special-head gradient-text">All NFTs You need in One Marketplace</h3>
                            </div>
                            <h1 class="fadeInUp" data-wow-delay="0.2s">The Best Place to Collect , Buy and Sell <span class="gradient-text">Awesome NFTs</span> </h1>
                            <p class="w-text fadeInUp" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet dolorem blanditiis ad perferendis, labore delectus dolor adipisicing elit sit amet, adipisicing elit. Eveniet adipisicing elit.</p>
                            <div class="dream-btn-group fadeInUp" data-wow-delay="0.4s">
                                <a href="#" class="btn more-btn mr-3">Explore More</a>
                                <a href="#" class="btn more-btn">Collect NFT </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <div class="clearfix"></div>

     <!-- ##### Top Sellers Start ##### -->
    <section class="about-us-area section-padding-100 clearfix">

        <div class="container">
            <div class="row align-items-center">


                <div class="col-12 col-lg-12">
                    <div class="who-we-contant">
                        <div class="dream-dots text-left fadeInUp" data-wow-delay="0.2s" >
                            <span class="gradient-text ">Creative Creators</span>
                        </div>
                        <h4 class="fadeInUp" data-wow-delay="0.3s">Top Sellers This Month</h4>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="creator-sec dd-bg">
                        <div class="author-item">
                            <div class="author-rank">01</div>
                            <div class="author-img"><img src="img/authors/1.png" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="profile.html"><h5 class="author-name">LarySmith-30</h5></a>
                                <p class="author-earn mb-0">647.34 ETH</p>
                            </div>
                        </div>
                        <div class="author-item">
                            <div class="author-rank">02</div>
                            <div class="author-img"><img src="img/authors/2.png" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="profile.html"><h5 class="author-name">Amillia Nnor</h5></a>
                                <p class="author-earn mb-0">521.85 ETH</p>
                            </div>
                        </div>
                        <div class="author-item">
                            <div class="author-rank">03</div>
                            <div class="author-img"><img src="img/authors/3.png" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="profile.html"><h5 class="author-name">Naretor-Nole</h5></a>
                                <p class="author-earn mb-0">511.45 ETH</p>
                            </div>
                        </div>
                        <div class="author-item">
                            <div class="author-rank">04</div>
                            <div class="author-img"><img src="img/authors/4.png" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="profile.html"><h5 class="author-name">Johan Donem</h5></a>
                                <p class="author-earn mb-0">499.11 ETH</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mt-s">
                    <div class="creator-sec dd-bg">
                        <div class="author-item">
                            <div class="author-rank">05</div>
                            <div class="author-img"><img src="img/authors/5.png" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="profile.html"><h5 class="author-name">LarySmith-30</h5></a>
                                <p class="author-earn mb-0">647.34 ETH</p>
                            </div>
                        </div>
                        <div class="author-item">
                            <div class="author-rank">06</div>
                            <div class="author-img"><img src="img/authors/6.png" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="profile.html"><h5 class="author-name">Amillia Nnor</h5></a>
                                <p class="author-earn mb-0">521.85 ETH</p>
                            </div>
                        </div>
                        <div class="author-item">
                            <div class="author-rank">07</div>
                            <div class="author-img"><img src="img/authors/7.png" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="profile.html"><h5 class="author-name">Naretor-Nole</h5></a>
                                <p class="author-earn mb-0">511.45 ETH</p>
                            </div>
                        </div>
                        <div class="author-item">
                            <div class="author-rank">08</div>
                            <div class="author-img"><img src="img/authors/8.png" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="profile.html"><h5 class="author-name">Johan Donem</h5></a>
                                <p class="author-earn mb-0">499.11 ETH</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mt-s">
                    <div class="creator-sec dd-bg">
                        <div class="author-item">
                            <div class="author-rank">09</div>
                            <div class="author-img"><img src="img/authors/9.png" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="profile.html"><h5 class="author-name">LarySmith-30</h5></a>
                                <p class="author-earn mb-0">647.34 ETH</p>
                            </div>
                        </div>
                        <div class="author-item">
                            <div class="author-rank">10</div>
                            <div class="author-img"><img src="img/authors/10.png" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="profile.html"><h5 class="author-name">Amillia Nnor</h5></a>
                                <p class="author-earn mb-0">521.85 ETH</p>
                            </div>
                        </div>
                        <div class="author-item">
                            <div class="author-rank">11</div>
                            <div class="author-img"><img src="img/authors/11.png" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="profile.html"><h5 class="author-name">Naretor-Nole</h5></a>
                                <p class="author-earn mb-0">511.45 ETH</p>
                            </div>
                        </div>
                        <div class="author-item">
                            <div class="author-rank">12</div>
                            <div class="author-img"><img src="img/authors/12.png" width="70" alt=""></div>
                            <div class="author-info">
                                <a href="profile.html"><h5 class="author-name">Johan Donem</h5></a>
                                <p class="author-earn mb-0">499.11 ETH</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- ##### Top Authors End ##### -->

    <!-- ##### Top Collections Start ##### -->
    <section class="section-padding-0-70 clearfix" >
        <div class="container">

            <div class="section-heading text-center">

                <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                    <span>Our Top Collections</span>
                </div>
                <h2 class="fadeInUp" data-wow-delay="0.3s">Popular Collections</h2>
                <p class="fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
            </div>


            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Content -->
                    <a href="discover.html" class="service_single_content collection-item wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Icon -->
                        <div class="collection_icon">
                            <img src="img/art-work/c1.png" alt="">
                        </div>
                        <div class="collection_info">
                            <h6>Cyberpunk City Art</h6>
                            <p>Owner : <span class="w-text">Naretor-Nole</span></p>
                        </div>

                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Content -->
                    <a href="discover.html" class="service_single_content collection-item wow fadeInUp" data-wow-delay="0.3s">
                        <!-- Icon -->
                        <div class="collection_icon">
                            <img src="img/art-work/c2.png" alt="">
                        </div>
                        <div class="collection_info">
                            <h6>Murphy the Mutant</h6>
                            <p>Owner : <span class="w-text">Johan Doe</span></p>
                        </div>

                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Content -->
                    <a href="discover.html" class="service_single_content collection-item wow fadeInUp" data-wow-delay="0.4s">
                        <!-- Icon -->
                        <div class="collection_icon">
                            <img src="img/art-work/c3.png" alt="">
                        </div>
                        <div class="collection_info">
                            <h6>Beeple Special Edition</h6>
                            <p>Owner : <span class="w-text">Nole_moreta</span></p>
                        </div>

                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <!-- Content -->
                    <a href="discover.html" class="service_single_content collection-item wow fadeInUp" data-wow-delay="0.5s">
                        <!-- Icon -->
                        <div class="collection_icon">
                            <img src="img/art-work/c4.png" alt="">
                        </div>
                        <div class="collection_info">
                            <h6>Floyd Mayweather Jr.</h6>
                            <p>Owner : <span class="w-text">Kera_one</span></p>
                        </div>

                    </a>
                </div>


            </div>
        </div>
    </section>

    <section class="features section-padding-0-100 ">

        <div class="container">
            <div class="section-heading text-center">
                <!-- Dream Dots -->
                <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                     <span>Dicover New Items</span>
                </div>
                <h2 class="fadeInUp" data-wow-delay="0.3s">New Listed Items</h2>
                <p class="fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing-item ">
                        <div class="wraper">
                            <a href="item-details.html"><img src="img/art-work/1.png" alt=""></a>
                            <a href="item-details.html"><h4>Scarecrow in daylight</h4></a>
                            <div class="owner-info">
                                <img src="img/authors/2.png" width="40" alt="">
                                <a href="profile.html"><h3>@Smith Wright</h3></a>
                            </div>
                            <span><span class="g-text">Price</span> 0.081 ETH <span class="g-text ml-15">1 of 10</span></span>
                            <div class="pricing">Highest Bid : <span class="ml-15">0.081 ETH</span> </div>
                            <div class="admire">
                                <div class="adm"><i class="fa fa-clock-o"></i>6 Hours Ago</div>
                                <div class="adm"><i class="fa fa-heart-o"></i>134 Like</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing-item ">
                        <div class="wraper">
                            <a href="item-details.html"><img src="img/art-work/2.png" alt=""></a>
                            <a href="item-details.html"><h4>Darklight Angel 01</h4></a>
                            <div class="owner-info">
                                <img src="img/authors/3.png" width="40" alt="">
                                <a href="profile.html"><h3>@Smith Wright</h3></a>
                            </div>
                            <span><span class="g-text">Price</span> 0.081 ETH <span class="g-text ml-15">1 of 10</span></span>
                            <div class="pricing">Highest Bid : <span class="ml-15">0.081 ETH</span> </div>
                            <div class="admire">
                                <div class="adm"><i class="fa fa-clock-o"></i>6 Hours Ago</div>
                                <div class="adm"><i class="fa fa-heart-o"></i>134 Like</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing-item ">
                        <div class="wraper">
                            <a href="item-details.html"><img src="img/art-work/3.png" alt=""></a>
                            <a href="item-details.html"><h4>Becoming one with Nature</h4></a>
                            <div class="owner-info">
                                <img src="img/authors/8.png" width="40" alt="">
                                <a href="profile.html"><h3>@Smith Wright</h3></a>
                            </div>
                            <span><span class="g-text">Price</span> 0.081 ETH <span class="g-text ml-15">1 of 10</span></span>
                            <div class="pricing">Highest Bid : <span class="ml-15">0.081 ETH</span> </div>
                            <div class="admire">
                                <div class="adm"><i class="fa fa-clock-o"></i>6 Hours Ago</div>
                                <div class="adm"><i class="fa fa-heart-o"></i>134 Like</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing-item ">
                        <div class="wraper">
                            <a href="item-details.html"><img src="img/art-work/4.png" alt=""></a>
                            <a href="item-details.html"><h4>Twilight Fracture City</h4></a>
                            <div class="owner-info">
                                <img src="img/authors/6.png" width="40" alt="">
                                <a href="profile.html"><h3>@Smith Wright</h3></a>
                            </div>
                            <span><span class="g-text">Price</span> 0.081 ETH <span class="g-text ml-15">1 of 10</span></span>
                            <div class="pricing">Highest Bid : <span class="ml-15">0.081 ETH</span> </div>
                            <div class="admire">
                                <div class="adm"><i class="fa fa-clock-o"></i>6 Hours Ago</div>
                                <div class="adm"><i class="fa fa-heart-o"></i>134 Like</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing-item ">
                        <div class="wraper">
                            <a href="item-details.html"><img src="img/art-work/5.png" alt=""></a>
                            <a href="item-details.html"><h4>Resonate Sanctuary II</h4></a>
                            <div class="owner-info">
                                <img src="img/authors/2.png" width="40" alt="">
                                <a href="profile.html"><h3>@Smith Wright</h3></a>
                            </div>
                            <span><span class="g-text">Price</span> 0.081 ETH <span class="g-text ml-15">1 of 10</span></span>
                            <div class="pricing">Highest Bid : <span class="ml-15">0.081 ETH</span> </div>
                            <div class="admire">
                                <div class="adm"><i class="fa fa-clock-o"></i>6 Hours Ago</div>
                                <div class="adm"><i class="fa fa-heart-o"></i>134 Like</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing-item ">
                        <div class="wraper">
                            <a href="item-details.html"><img src="img/art-work/6.png" alt=""></a>
                            <a href="item-details.html"><h4>Analogue refraction #3</h4></a>
                            <div class="owner-info">
                                <img src="img/authors/3.png" width="40" alt="">
                                <a href="profile.html"><h3>@Smith Wright</h3></a>
                            </div>
                            <span><span class="g-text">Price</span> 0.081 ETH <span class="g-text ml-15">1 of 10</span></span>
                            <div class="pricing">Highest Bid : <span class="ml-15">0.081 ETH</span> </div>
                            <div class="admire">
                                <div class="adm"><i class="fa fa-clock-o"></i>6 Hours Ago</div>
                                <div class="adm"><i class="fa fa-heart-o"></i>134 Like</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing-item ">
                        <div class="wraper">
                            <a href="item-details.html"><img src="img/art-work/7.png" alt=""></a>
                            <a href="item-details.html"><h4>Super-Neumorphism #7</h4></a>
                            <div class="owner-info">
                                <img src="img/authors/8.png" width="40" alt="">
                                <a href="profile.html"><h3>@Smith Wright</h3></a>
                            </div>
                            <span><span class="g-text">Price</span> 0.081 ETH <span class="g-text ml-15">1 of 10</span></span>
                            <div class="pricing">Highest Bid : <span class="ml-15">0.081 ETH</span> </div>
                            <div class="admire">
                                <div class="adm"><i class="fa fa-clock-o"></i>6 Hours Ago</div>
                                <div class="adm"><i class="fa fa-heart-o"></i>134 Like</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing-item ">
                        <div class="wraper">
                            <a href="item-details.html"><img src="img/art-work/8.png" alt=""></a>
                            <a href="item-details.html"><h4>Exe Dream Sequence </h4></a>
                            <div class="owner-info">
                                <img src="img/authors/6.png" width="40" alt="">
                                <a href="profile.html"><h3>@Smith Wright</h3></a>
                            </div>
                            <span><span class="g-text">Price</span> 0.081 ETH <span class="g-text ml-15">1 of 10</span></span>
                            <div class="pricing">Highest Bid : <span class="ml-15">0.081 ETH</span> </div>
                            <div class="admire">
                                <div class="adm"><i class="fa fa-clock-o"></i>6 Hours Ago</div>
                                <div class="adm"><i class="fa fa-heart-o"></i>134 Like</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-12 text-center">
                    <a class="btn more-btn fadeInUp" data-wow-delay="0.6s" href="discover.html">Load More</a>
                </div>
            </div>

        </div>
    </section>

    <section class="features section-padding-0-70 ">

        <div class="container">
            <div class="section-heading text-center">
                <!-- Dream Dots -->
                <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
                     <span>Live auctions</span>
                </div>
                <h2 class="fadeInUp" data-wow-delay="0.3s">Live auctions <img src="img/art-work/fire.png" width="20" alt=""></h2>
                <p class="fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing-item ">
                        <div class="wraper">
                            <a href="item-details.html"><img src="img/art-work/9.png" alt=""></a>
                            <a href="item-details.html"><h4>Bored Ape Yacht Club</h4></a>
                            <div class="owner-info">
                                <img src="img/authors/2.png" width="40" alt="">
                                <a href="profile.html"><h3>@Amillia Nnor</h3></a>
                            </div>
                            <span><span class="g-text">Price</span> 0.081 ETH <span class="g-text ml-15">1 of 10</span></span>
                            <!-- Countdown  -->
                            <div class="count-down titled circled text-center">
                                <div class="simple_timer"></div>
                            </div>

                            <div class="admire">
                                <a class="btn more-btn width-100" href="item-details.html">Place Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing-item ">
                        <div class="wraper">
                            <a href="item-details.html"><img src="img/art-work/1.png" alt=""></a>
                            <a href="item-details.html"><h4>After Snow: Attraction</h4></a>
                            <div class="owner-info">
                                <img src="img/authors/3.png" width="40" alt="">
                                <a href="profile.html"><h3>@Johan Done</h3></a>
                            </div>
                            <span><span class="g-text">Price</span> 0.081 ETH <span class="g-text ml-15">1 of 10</span></span>
                            <!-- Countdown  -->
                            <div class="count-down titled circled text-center">
                                <div class="simple_timer"></div>
                            </div>

                            <div class="admire">
                               <a class="btn more-btn width-100" href="item-details.html">Place Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing-item ">
                        <div class="wraper">
                            <a href="item-details.html"><img src="img/art-work/11.png" alt=""></a>
                            <a href="item-details.html"><h4>Mortimer Crypto Mystic</h4></a>
                            <div class="owner-info">
                                <img src="img/authors/8.png" width="40" alt="">
                                <a href="profile.html"><h3>@LarySmith-3</h3></a>
                            </div>
                            <span><span class="g-text">Price</span> 0.081 ETH <span class="g-text ml-15">1 of 10</span></span>
                            <!-- Countdown  -->
                            <div class="count-down titled circled text-center">
                                <div class="simple_timer"></div>
                            </div>

                            <div class="admire">
                                <a class="btn more-btn width-100" href="item-details.html">Place Bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="pricing-item ">
                        <div class="wraper">
                            <a href="item-details.html"><img src="img/art-work/2.png" alt=""></a>
                            <a href="item-details.html"><h4>People are the pillars</h4></a>
                            <div class="owner-info">
                                <img src="img/authors/6.png" width="40" alt="">
                                <a href="profile.html"><h3>@SmithWright</h3></a>
                            </div>
                            <span><span class="g-text">Price</span> 0.081 ETH <span class="g-text ml-15">1 of 10</span></span>
                            <!-- Countdown  -->
                            <div class="count-down titled circled text-center">
                                <div class="simple_timer"></div>
                            </div>

                            <div class="admire">
                                <a class="btn more-btn width-100" href="item-details.html">Place Bid</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- ##### Footer Area Start ##### -->
    <footer class="main-footer text-center">
    <!--Widgets Section-->
      <div class="widgets-section padding-top-small padding-bottom-small">
         <div class="container">

            <div class="row clearfix">
               <!--Footer Column-->
               <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                  <div class="footer-widget about-widget">
                     <h3 class="has-line-center">About Us</h3>
                     <div class="widget-content">
                        <div class="text">At the end of the day, going forward, a new normal that has evolved generation X is on the runway heading towards a streamlined cloud solution. </div>
                           <ul class="social-links">
                              <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                              <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                           </ul>
                         </div>
                     </div>
                 </div><!--End Footer Column-->

                 <!--Footer Column-->
                 <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                     <div class="footer-widget contact-widget">
                         <h3 class="has-line-center">Contact Us</h3>
                         <div class="widget-content">
                             <ul class="contact-info">
                                 <li><div class="icon"><span class="flaticon-support"></span></div></li>
                                 <li>10, Mc Donald Avenue, Sunset Park, Newyork</li>
                                 <li>+99 999 9999</li>
                                 <li>info@yourdomain.com</li>
                             </ul>
                         </div>
                     </div>
                 </div><!--End Footer Column-->

                 <!--Footer Column-->
                 <div class="footer-column col-md-4 col-sm-12 col-xs-12">
                     <div class="footer-widget newsletter-widget">
                         <h3 class="has-line-center">Newsletter</h3>
                         <div class="widget-content">
                           <div class="text">Stay Updated with our latest news. We promise not to spam</div>
                             <div class="newsletter-form">
                                 <form method="post">
                                     <div class="form-group">
                                         <input type="email" name="field-name" value="" placeholder="Your Email" required="">
                                         <button type="submit" class="send-btn"><span class="fa fa-paper-plane-o"></span></button>
                                     </div>
                                 </form>
                             </div>
                         </div>
                     </div>
                 </div><!--End Footer Column-->

             </div>
         </div>
     </div>
{% endblock content %}
