{% extends "layout.html" %}

{% block content %}

<style>
    /* .slick-prev{
  display: none;
}

.slick-next::before, .slick-prev::before {
    display: none;
} */

@media only screen and (max-width: 765px) {
    .slick-dots{
        bottom: -85px;
        width: 100%;
    }
    .slickSlider{
        max-width: 320px;
    }
}

@media only screen and (max-width: 766px) {
    /* .card-img-top{
        width: 74%;
    } */
    .slick-slider {
        margin: 0;
    }
}
/* .slick-slider{
    margin: 0;
} */

</style>

<link href="{{url_for('static', filename='css/pages/home.css')}}" rel="stylesheet" />
<!-- ##### Welcome Area Start ##### -->
<section class="hero-section moving section-padding" id="home">
    <div class="moving-bg">
    </div>
    <div class="static-bg"></div>
</section>
<section>
    <div class="container">
            <div class="row welcome-content welcome-row">
                <div class="col-12 text-center">
                    <h2 class="fadeInUp" data-wow-delay="0.2s">
                                The City
                    </h2>
            </div>
            <div class="col-12 col-lg-3 col-md-6" width="180" height="180">
              <img class="welcome-img" src="{{url_for('static', filename='img/home/VR.png')}}">
            </div>
            <div class="col-12 col-lg-9 col-md-6">
                <div>
                    <p class="w-text fadeInUp" data-wow-delay="0.3s">
                        Based in the near future, the Avvenire City is a utopia whereby the love for art and
                        community are in synchronization. You, as a citizen of  Avvenire City are part of an
                        exclusive community with access to various benefits via airdrops and new
                        offerings. Avvenire City is expanding, and we want you to be part of the
                        journey. Let’s build the brand of Avvenire together.
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Welcome Area End ##### -->
<div class="clearfix">
</div>
<!-- ##### Activity Area Start ##### -->
<section class="blog-area section-padding-100-50" id="roadmap">
    <div class="container">

        <div class="row" style="align-items: center;">
            <div class="col-12 col-md-9">
                <div class="timelineBox">
                    <div class="timelineHeader">
                        <h3>Roadmap</h3>
                    </div>
                    <div class="timelineBody" style="overflow: scroll;">
                        <ul class="timeline">
                            <!-- Single Timeline -->
                            <li>
                                <div class="timelineDot">
                                </div>
                                <div class="timeline-order">
                                    <h6 onclick="toggleRoadMap(1)">Phase 1: Citizenship Mint
                                    </h6>
                                    <div class="timelineWork" id="timelinework_1" style="display: none;">
                                        <span>Launch of the Avvenire Citizenship Mint (limited to 5,000). Welcome to all
                                            official Founding Citizens of Avvenire City. As a Founding Citizen,
                                            you
                                            are not only part of something extraordinary, but you also have the ability
                                            to
                                            contribute to the further development of Avvenire City.</span>
                                    </div>

                                </div>
                            </li>
                            <!-- Single Timeline -->
                            <li>
                                <div class="timelineDot"></div>
                                <div class="timeline-order">
                                    <h6 onclick="toggleRoadMap(2)">Phase 2: Avvenire City Parcel Release</h6>
                                    <div class="timelineWork" id="timelinework_2" style="display: none;">
                                        <span>Founding Citizens will be airdropped a part of Avvenire City, called an
                                            Avvenire Parcel. We’ve uniquely designed the parcel to suit the personality
                                            of
                                            your Citizenship. The Avvenire Parcels give access to the Avvenire metaverse
                                            utility.</span>
                                    </div>
                                </div>
                            </li>
                            <!-- Single Timeline -->
                            <li>
                                <div class="timelineDot"></div>
                                <div class="timeline-order">
                                    <h6 onclick="toggleRoadMap(3)">Phase 3: Avvenire City Exclusive Clothing Apparel
                                    </h6>
                                    <div class="timelineWork" id="timelinework_3" style="display: none;">
                                        <span>Avvenire City is not only a community of like minded individuals, but also
                                            a
                                            brand. Avvenire Citizens will be given the exclusive opportunity to purchase
                                            apparel designed and inspired by the Avvenire Citizen collection.</span>
                                    </div>
                                </div>
                            </li>
                            <!-- Single Timeline -->
                            <li>
                                <div class="timelineDot"></div>
                                <div class="timeline-order">
                                    <h6 onclick="toggleRoadMap(4)">Phase 4: Metaverse Expansion of Avvenire City</h6>
                                    <div class="timelineWork" id="timelinework_4" style="display: none;">

                                        <span>The most suitable metaverse platform will be chosen for the development of
                                            Avvenire City in the metaverse. Holders of either the parcel or Citizenship
                                            NFT
                                            will gain specific access and ownership to the Avvenire City
                                            Metaverse.</span>
                                    </div>
                                </div>
                            </li>
                            <!-- Single Timeline -->
                            <li>
                                <div class="timelineDot"></div>
                                <div class="timeline-order">
                                    <h6 onclick="toggleRoadMap(5)">Phase 5: The future, to be
                                        continued...</h6>
                                    <div class="timelineWork" id="timelinework_5" style="display: none;">

                                        <span>The opportunities are endless for Avvenire, as we expand out into both the
                                            physical and web3 worlds. From here, we want you to be a part of the
                                            decision
                                            making in what we do next. Whether that be in-real-life parties, apparel
                                            brand
                                            expansion or further airdrops, the future of Avvenire City is in your
                                            hands.</span>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="sidebar-area">
                    <img id="side_image" alt="" src="{{url_for('static', filename='img/roadmap/1.PNG')}}" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Activity Area End ##### -->

<!-- ##### Top Collections Start ##### -->

<section class="section-padding-0-70 clearfix" id="art">
    <div class="container slickSlider">
        <div class="section-heading text-center">
            <div class="dream-dots justify-content-center fadeInUp" data-wow-delay="0.2s">
            </div>
            <h2 class="fadeInUp" data-wow-delay="0.3s">
                Avvenire Citizens
            </h2>
            <p class="fadeInUp" data-wow-delay="0.4s">
                Join us as one of the 5,000 Citizens of Avvenire City! 
            </p>
        </div>


        <div class="slick-carousel">
            <div>
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/0.PNG')}}" alt="Card image cap">
              </div>
            </div>
            <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/1.PNG')}}" alt="Card image cap">
                  </div>
            </div>
            <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/2.PNG')}}" alt="Card image cap">
                  </div>
            </div>
            <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/3.PNG')}}" alt="Card image cap">
                  </div>
            </div>
            <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/4.PNG')}}" alt="Card image cap">
                  </div>
            </div>
            <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/5.PNG')}}" alt="Card image cap">
                  </div>
            </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/6.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/7.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/8.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/9.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/10.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/11.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/12.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/13.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/14.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/15.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/16.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/17.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/18.PNG')}}" alt="Card image cap">
                  </div>
              </div>
              <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='img/slider-img/19.PNG')}}" alt="Card image cap">
                  </div>
              </div>
          </div>
    </div>
</section>
<section class="blog-area section-padding-50" id="technology">
        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <h2 class="fadeInUp" data-wow-delay="0.3s">
                On the Cutting Edge
            </h2>
            <p class="fadeInUp" data-wow-delay="0.4s">
                Building on top to the technology developed in <a href="https://www.azuki.com/erc721a" target="_blank">The Garden</a> to usher in a new era of NFTs.
            </p>
        </div>        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <!-- Post Content -->
                        <div class="blog-content">
                            <h4 class="post-title">ERC721A</h4>
                            <p>First implemented in the Azuki mint, ERC721A enables the minting of multiple NFTs for the same gas cost of a single NFT.</p>
                            <p>Avvenire employs the same benefits gained in the Azuki mint, as we have developed with their new protocol. These innovations include the removal of duplicate storage and batch updating. ERC721A optimizes data storage by leveraging string concatentation at the time of reading the NFT instead of at the time of writing (mint). Since users are unlikely to pay for read operations, they reap the gas benefits. Furthermore, the use of batch updating allows ERC721A mints update the owner's balance once per transaction instead of once per token.</p>
                        </div>
                    </div>
            </div>
                <div class="col-12 col-md-6">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <!-- Post Content -->
                        <div class="blog-content">
                            <h4 class="post-title">Tradeable Traits</h4>
                            <p>Our team views NFTs as digital embodiments of real-life objects. For example, an Avvenire Citizen should just be a Web3 person.</p>
                            <p>Consider any person. Over the course of one week, this individual will likely wear a variety of clothing and jewelry. Over the course of a year, they may change their hairstyle or get a tattoo. We believe that Avvenire Citizens should have the same capabilities. In addition to making these traits interchangeable, we decided that each individual trait should be tradable. These can be listed on OpenSea or LooksRare and traded while not bound to an Avvenire Citizen. We look forward to giving Avvenire Citizens access to this new paradigm of Web3.</p>
                        </div>
                    </div>
            </div>
        </div>
</section>
<section class="features section-padding-50" id="team">
    <div class="container">
        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <h2 class="fadeInUp" data-wow-delay="0.3s">
                Our Team
            </h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="wraper">
                            <img alt="" src="{{url_for('static', filename='img/art-work/1.png')}}" />
                            <h4>
                                Mireles - Founder
                            </h4>
                        <div class="owner-info">
                            <a href="https://twitter.com/Mireles_2000" target="_blank">
                                <h3>
                                    @Mireles_2000
                                </h3>
                            </a>
                        </div>
                        <span>
                            <span class="g-text">
                                Created the Avvenire team and managed behind the scenes.
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="wraper">
                            <img alt="" src="{{url_for('static', filename='img/art-work/2.png')}}" />
                            <h4>
                                Jeremy Lay - Founder
                            </h4>
                        <div class="owner-info">
                            <a href="https://twitter.com/IcedcoffeeEth" target="_blank">
                                <h3>
                                    @IcedcoffeeEth
                                </h3>
                            </a>
                        </div>
                        <span>
                            <span class="g-text">
                                NFT and AZUKI enthusiast. A true business builder, helping bring Avvenire to life.
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="wraper">
                            <img alt="" src="{{url_for('static', filename='img/art-work/3.png')}}" />
                            <h4>
                                Dev - Developer
                            </h4>
                        <div class="owner-info">
                            <a href="https://twitter.com/KyotoDev" target="_blank">
                                <h3>
                                    @KyotoDev
                                </h3>
                            </a>
                        </div>
                        <span>
                            <span class="g-text">
                                Web3 developer driving the technological vision of Avvenire City.
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="wraper">
                            <img alt="" src="{{url_for('static', filename='img/art-work/4.png')}}" />
                            <h4>
                                Yams - Developer
                            </h4>
                        <div class="owner-info">
                            <a href="https://twitter.com/KyotoYam" target="_blank">
                                <h3>
                                    @KyotoYam
                                </h3>
                            </a>
                        </div>
                        <span>
                            <span class="g-text">
                                Former VC associate. Web3 developer keeping Avvenire on the cutting edge.
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="wraper">
                            <img alt="" src="{{url_for('static', filename='img/art-work/5.png')}}" />
                            <h4>
                                Cotal - Influencer
                            </h4>
                        <div class="owner-info">
                            <a href="https://twitter.com/CotalTV" target="_blank">
                                <h3>
                                    @CotalTV
                                </h3>
                            </a>
                        </div>
                        <span>
                            <span class="g-text">
                                Managing social media. Securing collabs and WL with the best communities.
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="wraper">
                            <img alt="" src="{{url_for('static', filename='img/art-work/6.png')}}" />
                            <h4>
                                GOSVTO - Lead 2D Artist
                            </h4>
                        <div class="owner-info">
                            <a href="https://twitter.com/gosvto" target="_blank">
                                <h3>
                                    @gosvto
                                </h3>
                            </a>
                        </div>
                        <span>
                            <span class="g-text">
                                Self-taught Illustrator based in France with a degree in Economics and Digital Marketing.
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="wraper">
                            <img alt="" src="{{url_for('static', filename='img/art-work/7.png')}}" />
                            <h4>
                                Loshak - Lead 3D Artist
                            </h4>
                        <div class="owner-info">
                            <a href="https://twitter.com/HLoshak" target="_blank">
                                <h3>
                                    @HLoshak
                                </h3>
                            </a>
                        </div>
                        <span>
                            <span class="g-text">
                                London based, Leading the design and collection of Avvenire 3D homes.
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="wraper">
                            <img alt="" src="{{url_for('static', filename='img/art-work/8.png')}}" />
                            <h4>
                                Sabishi - 3D Graphic Designer
                            </h4>
                        <div class="owner-info">
                            <a href="https://twitter.com/shambala962" target="_blank">
                                <h3>
                                    @shambala692
                                </h3>
                            </a>
                        </div>
                        <span>
                            <span class="g-text">
                                3D graphic designer with master's degrees in Mathematical and Computer Modeling.
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="pricing-item">
                    <div class="wraper">
                            <img alt="" src="{{url_for('static', filename='img/art-work/9.png')}}" />
                            <h4>
                                Akshay - 3D Visionary
                            </h4>
                        <div class="owner-info">
                            <a href="https://twitter.com/Ak47_ADx" target="_blank">
                                <h3>
                                    @Ak47_ADx
                                </h3>
                            </a>
                        </div>
                        <span>
                            <span class="g-text">
                                Bringing Avvenire ideas and stories to life with incredible 3D art.
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 text-center">
            </div>
        </div>
    </div>
</section>
<!-- ##### FAQ Section Start ##### -->
<section class="faq-section" id="faq">
    <div class="container">
        <div class="section-heading text-center">
            <!-- Dream Dots -->
            <h2 class="fadeInUp" data-wow-delay="0.3s">
                FAQ
            </h2>
        </div>
        <ul>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h5>Blockchain</h5>
                <p>Ethereum</p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h5>Avvenire - Defined</h5>
                <p>
                    ‘Avvenire’ means Future. Our vision of the future is to build Avvenire City in the metaverse as a place of beauty, mood, art and community identity.
                </p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h5>Avvenire City</h5>
                <p>Based in the near future, Avvenire City is a utopia where the love for beauty, art and community are in harmony. As a Citizen or property owner, you are part of an exclusive community with access to airdrops and new offerings. The world of Avvenire City is expanding, and we want you to be part of the journey.</p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h5>Architectural Models (Models)</h5>
                <p>Avvenire City is built through 5,000 architectural models. Traits will determine their rarity and how
                    they contribute to Avvenire City. Models will be based around various types of commercial real
                    estate in RL such as Retail Shops, Laboratories, Museums, Film Studio, Cafe, Restaurant, Mini Golf,
                    Art Gallery, etc.</p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h5>PFPs</h5>
                <p>
                    Citizens will be minted as a part of a 2D PFP collection.  A design/style connection exists between the Models and Citizens. The style for the PFP Citizens is influenced by the anime art tradition. PFPs will be exclusive and hand drawn art.
                <br><br>
                    Customization will be possible through our site. Soon after mint, you will be able to exchange the individual traits of your Citizen with other members of Avvenire City. Create your custom Citizen to suit how you see yourself in the Metaverse.
                <br><br>
                    Once Avvenire City is in the metaverse it will be populated by the 3D version of the 5,000 Citizens (genesis collection). As a Citizen, you will have a unique identity within Avvenire City, with the opportunity to interact with other members of the project.
                </p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h5>Avvenire Map</h5>
                <p>The Avvenire Map will be launched. Holders can connect their wallet to the website and it will show
                    where their land is situated on the map, located by its coordinates within Avvenire City.<br />The
                    map will be loosely based on the concept of Sandbox coordinates and how they sell land, but we’ll
                    make it more similar to real life by having a master-planned community. This means land is also
                    filled with forest, bodies of water, and also the Avvenire Tower. By showing the locations of
                    forest, water and other environments, we are showing people what other potential land and models can
                    be released.</p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h5>Land in the Metaverse</h5>
                <p>Land will be purchased in the metaverse. After land is bought in the metaverse, Avvenire City will
                    come to life. Citizens will be able to walk around and enjoy the view of your Avvenire Architectural
                    Model through Sandbox/Decentraland.</p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h5>Utilities</h5>
                <p>Architectural Models and Citizens can be used in the metaverse.<br />Avvenire City merchandise will
                    be developed. Citizens may be eligible for merch drops bringing
                    Avvenire to the physical world.<br />A native token for Avvenire City will be developed.<br />All
                    holders of any Avvenire collection will be eligible for airdrops.</p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h5>Community Education</h5>
                <p>The Avvenire Project will develop resources for Avvenire City Citizens, so they can learn how to
                    build their 3D environments, learn to interact, sell merchandise, or rent their properties, and so
                    on.</p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h5>Dao/Token</h5>
                <p>The Community Phase will allow the community to influence the direction of Avvenire, such as the
                    choice of metaverse. We will come to decisions based on what may suit Avvenire in the long run and
                    how certain steps in the metaverse grow the brand of Avvenire.</p>
            </li>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h5>Is the team doxxed? Yes.</h5>
                <p>
                    <span class="w-text">Lead Artist: </span>
                    <br>
                    H. Loshak is a London based 3D Artist and CEO of 4thDimensionST. He specializes in immersive art and
                    building NFT projects from the ground up. He will lead the design of the Avvenire Project with the
                    amazing team at 4th Dimension to bring the absolute best to you.
                </p>
                <p>
                    <span class="w-text">Founders: </span>
                    <br>
                    Oscar Mireles: Avvenire is Oscar's brainchild. Once a professional eSports gamer, he has turned into
                    a brand and community builder devoted to web3 and innovation.
                    <br>
                    Jeremy Lay: With a background in building successful online retail brands since 2015, has generated
                    over $150 million in sales online and partnered with Meta (Facebook), Instagram and Tiktok.
                </p>
                <p>
                    <span class="w-text">Influencer: </span>
                    <br>
                    Cotal: Social media influencer and professional esports player. Manages followings of hundreds of
                    thousands across several socials. A content creating machine.
                </p>
            </li>
        </ul>
    </div>
</section>

    <!-- jQuery CDN -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- slick Carousel CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <!-- <script>
$('.slick-carousel').slick({
  infinite: true,
//   autoplay: true,
  slidesToShow: 3,
  slidesToScroll: 1, 
  arrows: true, 
  dots: true,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 835,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 565,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ] 
});
    </script> -->


    <script>
        $('.slick-carousel').slick({
          infinite: true,
        //   autoplay: true,
          slidesToShow: 3,
          slidesToScroll: 1, 
          arrows: true, 
          dots: true,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true,
                dots: true
              }
            },
            {
              breakpoint: 990,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 765,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ] 
        });
            </script>

<script src="{{url_for('static', filename='js/toggle.js')}}">
</script>
{% endblock %}
