<!DOCTYPE html>
<html lang="zxx">

<head>
      <meta charset="utf-8" />
      <meta content="Welcome to Avvenire City! Join us for the mint of 5000 Citizenship NFTs on May 21st!" name="description" />
      <meta content="IE=edge" http-equiv="X-UA-Compatible" />
      <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
      <!-- Title -->
      <title>
            Avvenire
      </title>
      <!-- Favicon -->
      <link href="{{url_for('static', filename='img/core-img/favicon.ico')}}" rel="icon" />
      <!-- Core Stylesheet -->
      <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" />
      <!-- Responsive Stylesheet -->
      <link href="{{url_for('static', filename='css/responsive.css')}}" rel="stylesheet" />
      <!--Modal -->
      <link href="{{url_for('static', filename='css/modal.css')}}" rel="stylesheet" />
      <!-- Slider CDN -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.css">


      <!-- <style>
            .slick-carousel {
               margin: 0 auto;
               width: 1000px;
               }
   
               .slick-slide {
               width: 350px;
               }
               .slick-next::before, .slick-prev::before {
               color: #fff;
               }
               .card{
                   background-color: #212529;
                   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
               }
               /* .card-body h4{
                   color: black;
               } */
               .card-body{
                   padding-left: 18px !important;
                   padding-top: 5px !important;
               }
               .slick-next{
                   right: 23px !important;
               }
               .slick-dots{
                   display: none !important;
               }
               .slick-carousel{
                   width: 1010px !important;
               }
        </style>  -->


</head>

<body class="darker">
      <!-- Preloader -->
      <div id="preloader">
            <div class="preload-content">
                  <div id="dream-load">
                  </div>
            </div>
      </div>
      <!-- ##### Header Area Start ##### -->
      <nav class="navbar navbar-expand-lg navbar-white fixed-top" id="banner">
            <div class="container">
                  <!-- Brand -->
                  <a class="navbar-brand" href="{{url_for('home')}}">
                        <span>
                              <img alt="logo" src="{{url_for('static', filename='img/core-img/logo.png')}}" />
                        </span>
                        Avvenire
                  </a>
                  <!-- Toggler/collapsibe Button -->
                  <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon">
                        </span>
                  </button>
                  <!-- Navbar links -->
                  <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav ml-auto">
                              <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('home')}}#">
                                          Home
                                    </a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('home')}}#roadmap">
                                          Roadmap
                                    </a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('home')}}#art">
                                          Art
                                    </a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('home')}}#technology">
                                          Technology
                                    </a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('home')}}#team">
                                          Our Team
                                    </a>
                              </li>
                              <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('home')}}#faq">
                                          FAQ
                                    </a>
                              </li>
                              <!--Put Mint Here-->
                              <li class="lh-55px" id="connect-btn">
                                    <a class="btn login-btn ml-50" id="connect-wallet">
                                          Connect Wallet
                                    </a>
                              </li>
                        </ul>
                  </div>
            </div>
      </nav>
      <!-- ##### Header Area End ##### -->
      {% block content %}{% endblock %}

      <!--#### Connect Wallet Modal #####-->
      <div id="connect-wallet-modal" class="modal">
            <div class="modal-content">
                    <div class="features-list modal-body">
                        <div class="who-we-contant text-center">
                            <img src="{{url_for('static', filename='img/icons/wallet.png')}}" class="mb-15" width="90" alt="">
                            <div class="pricing-item v2" onclick="connectEthereum();">
                                <img src="{{url_for('static', filename='img/icons/w1.png')}}" width="30" class="wal-icon" alt="">Browser (e.g. Metamask)
                            </div>
                            <div class="pricing-item v2" onclick="connectWalletConnect();">
                                <img src="{{url_for('static', filename='img/icons/w2.png')}}" width="30" class="wal-icon" alt="">WalletConnect
                            </div>
                        </div>
                    </div>
                </div>
      </div>

      <!-- ##### Footer Area Start ##### -->
      <footer class="main-footer text-center">
            <!--Footer Bottom-->
            <div class="footer-bottom">
                  <div class="auto-container">
                        <ul class="social-links">
                              <li>
                                    <a href="https://twitter.com/AvvenireNFT" target="_blank">
                                          <span class="fa fa-twitter">
                                          </span>
                                    </a>
                              </li>
                        </ul>
                  </div>
            </div>
      </footer>
      <!-- ##### Footer Area End ##### -->
      <!-- ########## All JS ########## -->
      <!-- jQuery js -->
      <script src="{{url_for('static', filename='js/jquery.min.js')}}">
      </script>
      <!-- ethers js -->
      <script src="https://cdn.ethers.io/lib/ethers-5.4.umd.min.js" type="application/javascript"></script>
      <!--constants.js-->
      <script src="{{url_for('static', filename='js/constants.js')}}"></script>
      <!-- Popper js -->
      <script src="{{url_for('static', filename='js/popper.min.js')}}">
      </script>
      <!-- Bootstrap js -->
      <script src="{{url_for('static', filename='js/bootstrap.min.js')}}">
      </script>
      <!-- All Plugins js -->
      <script src="{{url_for('static', filename='js/plugins.js')}}">
      </script>
      <script src="{{url_for('static', filename='js/jquery.syotimer.min.js')}}">
      </script>
      <!-- script js -->
      <script src="{{url_for('static', filename='js/script.js')}}">
      </script>
      <!--Cookies-->
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
      <!--wallet connect js-->
      <script src="{{url_for('static', filename='js/node_modules/@walletconnect/web3-provider/dist/umd/index.min.js')}}"></script>
      <!-- connect wallet js -->
      <script src="{{url_for('static', filename='js/connect-wallet/connect-wallet.js')}}">
      </script>
      <script src="{{url_for('static', filename='js/connect-wallet/modal.js')}}">
      </script>
      {% block scripts %}{% endblock %}
</body>

</html>
