{% extends "layout.html" %}

{% block description %}
    <meta content="Citizenship grants official entry into Avvenire City, a place where you will have the opportunity to push the limits of Web3." name="description" />
{% endblock description %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/pages/mint.css')}}">
<!-- ##### Welcome Area Start ##### -->
<div class="breadcumb-area clearfix">
 <!-- breadcumb content -->
 <div class="breadcumb-content">
  <div class="container h-100">
   <div class="row h-100 align-items-center">
    <div class="col-12">
     <nav aria-label="breadcrumb" class="breadcumb--con text-center">
      <h2 class="title wow fadeInUp" data-wow-delay="0.2s">
       Mint Citizens!
      </h2>
     </nav>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- ##### Welcome Area End ##### -->
<!-- ##### Blog Area Start ##### -->
<section class="blog-area section-padding-100">
 <div class="container">
  <div class="row">
   <div class="col-12 col-md-12">
    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.2s">
     <!-- Post Content -->
     <div class="blog-content">
      <h4 class="post-title">
       Citizenship
      </h4>
      <p>
       Citizenship grants official entry into Avvenire City, a place where you will have the opportunity to push the limits of Web3. Like other NFT projects, Citizenship grants access to a unique community of builders striving to create the future together. However, Avvenire Citizens will have access to cutting edge technology enabling users to interact with their Citizens in ways never before seen.
      </p>
      <p>
       Shortly after mint, the team will begin to unveil the rest of The City, granting Citizens access to Web3 hair salons, tattoo parlors, and malls, where users will have to option to interact with businesses to get new hair styles, tattoos, and clothing for their Citizens.
      </p>
      <p>
          We're excited to welcome you into the city!
      </p>
      <blockquote>
       <h5>
        To those about to join us: Good Morning.
       </h5>
      </blockquote>
      <div class="search-widget-area col">
        <form class="post-meta row">
          <div id="mint-info" class="col-lg-10 col-md-9">
            <div class="col-lg-4 col-md-4">
              <h4>
                <span>Price: </span>
                <span id="price">NaN</span><span> ETH x </span>
              </h4>
            </div>
            <div class="col-lg-3 col-md-3">
                <input id="amount" type="number" min="1" max="1000" value="3" class="col-lg-12" style="text-align:center; font-size:25px;">
            </div>
            <div class="col-lg-1.5 col-md-1.5">
              <h4>
              <span>Citizens = </span><span id="total-cost">NaN</span><span> ETH</span>
              </h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <a class="btn more-btn disabled" id="mint-btn" onclick="mintNFTs();">Mint</a>
            <div class="text-center" id="loading" hidden="hidden">
              <div class="spinner-border text-light" style="height: 3rem; width: 3rem;"></div>
           </div>
          </div>
        </form>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- ##### Blog Area End ##### -->
{% endblock content %}

{% block scripts %}
<!-- contract information -->
<script src="{{url_for('static', filename='js/mint/contract.js')}}">
</script>
<!-- web3 js -->
<script src="{{url_for('static', filename='js/node_modules/web3/dist/web3.min.js')}}">
</script>
<!-- mint js -->
<script src="{{url_for('static', filename='js/mint/mint.js')}}">
</script>
{% endblock scripts %}
