{% extends "layout.html" %}

{% block content %}
<!-- ##### Welcome Area Start ##### -->
<div class="breadcumb-area clearfix">
 <!-- breadcumb content -->
 <div class="breadcumb-content">
  <div class="container h-100">
   <div class="row h-100 align-items-center">
    <div class="col-12">
     <nav aria-label="breadcrumb" class="breadcumb--con text-center">
      <h2 class="title wow fadeInUp" data-wow-delay="0.2s">
       Mint Citizens!
      </h2>
     </nav>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- ##### Welcome Area End ##### -->
<!-- ##### Blog Area Start ##### -->
<section class="blog-area section-padding-100">
 <div class="container">
  <div class="row">
   <div class="col-12 col-md-12">
    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.2s">
     <!-- Post Content -->
     <div class="blog-content">
      <div class="post-meta">
       <p>
        By
        <a class="post-author" href="#">
         Nazrul
        </a>
        <a href="#">
         Apr 10, 2021
        </a>
        <a class="post-comments" href="#">
         7 comments
        </a>
       </p>
      </div>
      <h4 class="post-title">
       Avvenire Citizenship Mint
      </h4>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptas tempora inventore minima consectetur fugit deserunt neque modi, culpa atque fugiat unde amet quidem, at corrupti dignissimos repudiandae, totam sapiente.
      </p>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita fugit eum doloribus iste voluptatum perferendis dolorem qui! Vel magnam provident, laudantium voluptates sit, sint iure sunt harum distinctio ab, aliquam est voluptas minus id explicabo illum odio? Officia omnis minima similique, eveniet eos. Rem itaque laboriosam quas est omnis, mollitia possimus eveniet. Veritatis nihil, aliquid quisquam, laborum quis ut rem repellendus animi repellat, alias suscipit nostrum incidunt. Quis, quas.
      </p>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque necessitatibus laborum eveniet eaque laboriosam in officia reprehenderit quas itaque numquam sit ipsum libero consequuntur quia non quod esse rem corporis vero, consequatur nam, labore. Assumenda dolores possimus voluptatem deleniti, ipsa doloribus voluptatibus adipisci, ex voluptatum doloremque perspiciatis sunt. A earum natus quisquam deserunt nulla saepe, cumque, distinctio fuga animi dignissimos. Fuga, autem. Rem eveniet animi repellendus voluptatibus officiis sit cum doloremque dolorem labore maxime, ipsa cumque deleniti distinctio tempora vitae eos debitis. Voluptatum enim in ab facilis sapiente, quidem numquam, maxime ex veritatis assumenda, accusamus similique.
      </p>
      <blockquote>
       <h5>
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, vero excepturi repellendus quae ipsum. Cum totam cumque quis eveniet saepe nisi.
       </h5>
       <span>
        - Smith, CEO RaReable Marketplace
       </span>
      </blockquote>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quasi earum dolores sed pariatur molestias, aliquid eligendi, non consequatur quisquam repudiandae debitis numquam? Eligendi nostrum laborum, labore minima quaerat at eius tempora quos numquam dolores cum cupiditate voluptates necessitatibus, quis esse, ea. Tempora excepturi quia magnam itaque consequuntur iusto, dolore, nulla omnis, doloremque magni, amet pariatur! Maxime libero temporibus, soluta, qui veniam laudantium cupiditate corporis similique! Consectetur rerum, fuga! Quia nam fuga magnam quas aliquam in, saepe beatae. Culpa soluta, rerum id ex voluptate veniam maxime odit ad modi odio, molestiae est deserunt assumenda voluptatibus fuga accusamus placeat a quam!
      </p>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur commodi expedita accusantium sapiente culpa rem vel voluptas soluta error adipisci doloremque corporis inventore molestias architecto, iusto tempora rerum. Molestias tempora possimus ea, cumque culpa corrupti dolor harum, alias, voluptatem at ex laborum excepturi iusto asperiores optio suscipit consectetur quis quos dolorum deleniti dicta aut similique, eius fuga. Rem natus deserunt, harum? Quasi, fuga, culpa.
      </p>
      <div class="search-widget-area col">
        <form class="post-meta row">
          <div id="mint-info" class="col-lg-10 col-md-9">
            <div class="col-lg-4 col-md-4">
              <h4>
                <span>Price: </span>
                <span id="price">1</span><span> ETH x </span>
              </h4>
            </div>
            <div class="col-lg-2 col-md-2">
                <input id="amount" type="number" min="1" max="3" value="3" class="col-lg-12" style="text-align:center; font-size:25px;">
            </div>
            <div class="col-lg-1.5 col-md-1.5">
              <h4>
              <span>Citizens = </span><span id="total-cost">3</span><span> ETH</span>
              </h4>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <a class="btn more-btn disabled" id="mint-btn" onclick="mintNFTs();">Mint</a>
          </div>
        </form>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
<!-- ##### Blog Area End ##### -->
<!-- contract information -->
<script src="{{url_for('static', filename='js/mint/contract.js')}}">
</script>
<!-- web3 js -->
<script src="{{url_for('static', filename='js/node_modules/web3/dist/web3.min.js')}}">
</script>
<!-- mint js -->
<script src="{{url_for('static', filename='js/mint/mint.js')}}">
</script>
{% endblock content %}
